@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", cursive;
}

.header_container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 25px;

    /* border: 1px solid red; */
}

.header_container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 80px;
}

.logo-scrolled {
    background: url("../images/logo-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 80px;
}

.menu a {
    margin: 0;
    margin-right: 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;

    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
    color: #fff;
}

.menu button {
    background: #ed0002;
    border-radius: 5px;
    border: transparent;
    width: 100px;
    padding: 10px 20px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.header_container.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.menu_klasemen.scrolled {
    color: #ed0002;
}
.menu_klasemen.scrolled:hover {
    color: #ed0002;
}

@media screen and (max-width: 425px) {
    .logo {
        width: 100px;
        height: 40px;
    }

    .logo-scrolled {
        width: 100px;
        height: 40px;
    }

    .menu_klasemen {
        display: none;
        border: 1px solid red;
    }

    .menu button {
        background: #ed0002;
        border-radius: 5px;
        border: transparent;
        width: 100px;
        padding: 10px;

        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
        text-transform: uppercase;
    }
}
/* ==================== HERO ==================== */

.hero_container {
    min-height: 100vh;
    background: url("../images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.hero_container h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    color: #ffffff;
    margin: 0;
}

.hero_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ed0002;
    text-transform: uppercase;
}

.hero_container h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.hero_container button {
    background: #ed0002;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    border: transparent;
}

@media screen and (max-width: 425px) {
    .hero_container h1 {
        font-size: 42px;
        line-height: 52px;
        margin: 0;
    }

    .hero_container h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .hero_container h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .hero_container button {
        font-size: 18px;
        line-height: 24px;
        padding: 15px;
        border-radius: 5px;
        border: transparent;
    }
}

/* ==================== TABLE ==================== */

.table_container {
    margin: 75px auto;
}

.table_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ed0002;
    text-align: center;
    margin-bottom: 25px;
}

.table_container .nav-item {
    margin: 0 25px;
}

.table_container .nav-link {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */
    color: rgba(237, 0, 2, 0.3);
}

.table_container .nav-link.active {
    background: #ed0002 !important;
}

.table {
    margin: 25px auto;
    text-align: center;
}

.table thead {
    background: #ed0002;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.table tbody th,
.table tbody td {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ed0002;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background: rgba(237, 0, 2, 0.3);
}

@media screen and (max-width: 425px) {
    .table_container h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 25px;
    }
    .table_container .nav-link {
        font-size: 18px;
        line-height: 24px;
    }
    .table thead {
        font-size: 12px;
        line-height: 16px;
    }

    .table tbody th,
    .table tbody td {
        font-size: 12px;
        line-height: 16px;
    }
}

/* ==================== CARA BERGABUNG ==================== */
.join_container {
    background: #2f0000;
    padding-top: 50px;
    padding-bottom: 50px;
}

.join_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
}

.join_container img {
    width: 100%;
    margin: 50px auto;
}

.join_container button {
    background: #ed0002;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 15px;
    border: transparent;
}

.join-mb {
    display: none;
}

@media screen and (max-width: 425px) {
    .join-mb {
        display: block;
    }
    .join-d {
        display: none;
    }
    .join_container h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .join_container button {
        font-size: 18px;
        line-height: 24px;
    }
}

/* ==================== FAQ ==================== */
.faq_container {
    margin: 50px auto;
}

.faq_container .container {
    width: 50%;
}

@media screen and (max-width: 1366px) {
    .faq_container .container {
        width: 70%;
    }
}
@media screen and (max-width: 1024px) {
    .faq_container .container {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .faq_container .container {
        width: 100%;
    }
}

.faq_container h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #ed0002;
    text-align: center;
    margin-bottom: 50px;
}

.question_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question_container h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ed0002;
    margin: 0;
}

.faq_answer {
    margin-top: 25px;
}

.faq_answer h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ed0002;
    font-weight: normal;
}

.faq_jadwal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.faq_jadwal img {
    margin: 10px 5px;
}

@media screen and (max-width: 425px) {
    .faq_container h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 50px;
    }

    .question_container h5 {
        font-size: 16px;
        line-height: 18px;
    }
    .faq_answer h5 {
        font-size: 12px;
        line-height: 16px;
    }
}

/* ==================== FOOTER ==================== */
.footer {
    min-height: 30vh;
    background: #2f0000;
}
